.key {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 60px;
  border-radius: 8px;
}

.special.key {
  background: rgb(193, 194, 194);
}

.equals.key {
  background: rgb(19, 153, 194);
}

.key:focus {
  outline: none;
}

.key:hover {
  background: rgb(228, 228, 228);
}

.input-row:after {
  clear: both;
  content: '';
  display: table;
}

.calculator-input {
  margin-bottom: 10px;
}

.calculator-screen {
  max-width: 248px;
}

.outputLine {
  background: rgb(0, 0, 0);
  color: #fff;
}
